<html>
<head>
    <title>Working...</title>
</head>
<body>
    <form method="post" name="hiddenform" action="<%= callback %>" autocomplete="off">
        <input type="hidden" name="<%= type %>" value="<%= token %>">
        <% if (RelayState){ %>
        <input type="hidden" name="RelayState" value="<%= RelayState %>">
        <%}%>
        <noscript>
            <p>
                Script is disabled. Click Submit to continue.
            </p><input type="submit" value="Submit">
        </noscript>
    </form>
    <script language="javascript" type="text/javascript">
        document.forms[0].submit();
    </script>
</body>
</html>